body {
  width: 100%;
  min-height: 100%;
}

.left-side-content {
  float: left;
  width: 60px;
  background-color: #44617b;
  height: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

ul {
  list-style: none;
  margin:0;
  padding:0;
}

.left-side-list {
  width: 100%;
  border-bottom: 1px solid #eee;
  position: relative;
}

.left-side-edit {
  margin-top: 500px;
  margin-left: 17.5px;
}

.left-side-link {
  position: relative;
  display: block;
  min-height: 48px;
  padding: 16px;
  background-color: #44617b;
  color: #333;
}

.fas {
  font-size: 22px;
  position: absolute;
  margin: 10px auto;
}

.left-users-content {
  float: left;
  width: 300px;
  background-color: #f5f5f5f5;
  height: 100%;
  margin: 0 auto;
}

.left-users-category {
  width: 100%;
  border-bottom: 1px solid #eee;
  position: relative;
}

.left-users-category-bar {
  height: 5px;
  line-height: 3px;
  font-size: 12px;
}

.left-users-list {
  width: 100%;
  border-bottom: 1px solid #ffffff;
  background-color: #fcfcfc;
  position: relative;
}

.left-users-link {
  min-height: 48px;
}

.left-users-name {
  margin: 0;
  padding: 16px;
}

a {
  text-decoration: none;
}

a:link{
  color: #000000;
}

a:visit{
  color: #000000;
}

.user-search-box {
  width : 100%;
  font-size: 5px;
  padding: 7px 0 7px 0;
}

.head-bar {
  background-color: #f3f3f3;
  width: 100%;
  min-height: 20px;
}
