<html>
  <head>
    <title>user</title>
    <link rel="stylesheet" href="../assets/user.css">
    <link rel="stylesheet" href="../assets/normalize.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  <body>
    <div class="contents-wrapper">
      <div class="contents-left-side">
        <figure class="user-image-photo clearfix">
        </figure>
      </div>
      <div class="contents-right-side">
        <form class="user-edit-form" action="/user/update/{{.Current_user.ID}}" method="post">
          <input name="name" class="user-edit-text" type="text" value="{{ .Current_user.Name }}">
          {{ if .Current_user.StatusMessage }}
            <input name="status_message" class="user-edit-text" type="text" value="{{ .Current_user.StatusMessage }}" placeholder="Status Message is not set">
          {{ else }}
            <input name="status_message" class="user-edit-text" type="text" placeholder="Status Message is not set">
          {{ end }}
          {{ if .Current_user.FriendCode }}
            <p class="user-edit-text">{{ .Current_user.FriendCode }}</p>
            <input type="hidden" name="friend_id" value="{{.Current_user.FriendCode}}">
          {{ else }}
            <input name="friend_id" class="user-edit-text" type="text" placeholder="User is not set">
          {{ end }}
          <p class="user-edit-text">{{ .Current_user.Email }}</p>
          <input type="hidden" name="email" value="{{.Current_user.Email}}">
          <input type="submit" class="edit-button" value="Edit">
        </form>
      </div>
    </div>
  </body>
</html>
