<html>
  <head>
    <title>user</title>
    <link rel="stylesheet" href="../../assets/user_chat.css">
    <link rel="stylesheet" href="../../assets/normalize.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  <body>
    <main>
      <div class="left-side-content clearfix">
        <nav class="left-side-bar">
          <ul class="left-side-lists">
            <li class="left-side-list">
              <a class="left-side-link" href="/users">
                <i class="fas fa-user"></i>
              </a>
            </li>
            <li class="left-side-list">
              <a class="left-side-link">
                <i class="fas fa-comment-alt fa-top"></i>
              </a>
            </li>
            <li class="left-side-list">
              <a class="left-side-link" href="/add/users">
                <i class="fas fa-user-plus fa-top"></i>
              </a>
            </li>
            <li class="left-side-list">
              <a class="left-side-link" href="/group/edit">
                <i class="fas fa-users"></i>
              </a>
            </li>
          </ul>
        </nav>
        <div class="left-side-edit">
          <a href="/user/edit/{{.Current_user.ID}}">
            <i class="fas fa-cog fa-top"></i>
          </a>
        </div>
      </div>
      <div class="head-bar"></div>
      <div class="left-users-content clearfix">
        <nav class="left-users-bar">
          <form>
            <input type="text" name="name" placeholder="名前で検索" class="user-search-box">
          </form>
          <ul class="left-users-lists">
            <li class="left-users-category">
              <p class="left-users-category-bar">プロフィール</p>
            </li>
            <li class="left-users-list">
              <a class="left-users-link" href="/chatroom">
                <p class="left-users-name">username</p>
              </a>
            </li>
            <li class="left-users-category">
              <p class="left-users-category-bar">グループ({{ len .Group }})</p>
            </li>
            {{ range .Group }}
            <li class="left-users-list">
              <a class="left-users-link" href="/group/chatroom/{{.ID}}">
                <p class="left-users-name">{{ .Name }}</p>
              </a>
            </li>
            {{ end }}
            <li class="left-users-category">
              <p class="left-users-category-bar">友達({{ len .User }})</p>
            </li>
            {{ range .User }}
            <li class="left-users-list">
              <a class="left-users-link" href="/user/chatroom/{{.ID}}">
                <p class="left-users-name">{{.Name}}</p>
              </a>
            </li>
            {{ end }}
          </ul>
        </nav>
      </div>
      <div class="chat-main clearfix">
        <div class="chat-header">
          <a class="chat-user-name">
            <p>username</p>
          </a>
        </div>
        <div class="chat-body">
        {{ range .Messages}}
          <div class="chat-list clearfix">
            <figure class="user-image-photo clearfix">
            </figure>
            <div class="message-content">{{ .Text }}</div>
          </div>
        {{ end }}
      </div>
    </div>
      <div class="chat-footer">
        <div class="space"></div>
        <div class="footer-menu"></div>
        <form action="/message" method="post" class="message-form" enctype="multipart/form-data" id="postbox">
          <div class="form-wrapper">
            <input name="text" type="text" placeholder="type text" value="" class="form-textarea">
            <input name="group_id" type="hidden" value="{{.group_id}}">
          </div>
        </form>
      </div>
    </main>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
    <script>
      $(function() {
        function buildHTML(data) {
          var html = `<div class="chat-list clearfix">
                        <figure class="user-image-photo clearfix">
                          </figure>
                      <div class="message-content">${data.Text}</div>
                      </div>`
        return html;
        }
        $("#postbox").submit(function(e){
          var formData = new FormData( this );
          var msgBox = $(".form-textarea");
          e.preventDefault();
          $.ajax({
            type: "POST",
            url: "/message",
            data: formData,
            dataType: 'json',
            processData: false,
            contentType: false
          })
          .done(function(data){
            console.log(data)
            var posts = $(".chat-body");
            var html = buildHTML(data);
            posts.append(html);
            msgBox.val("");
          })
          .fail(function(data){
            alert('error')
          });
        });
      });
    </script>
  </body>
</html>
