<html>
  <head>
    <title>message</title>
    <link rel="stylesheet" href="../assets/index.css">
    <link rel="stylesheet" href="../assets/normalize.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  <body>
    <main>
      <div class="left-side-content">
        <nav class="left-side-bar">
          <ul class="left-side-lists">
            <li class="left-side-list">
              <a class="left-side-link" href="/users">
                <i class="fas fa-user"></i>
              </a>
            </li>
            <li class="left-side-list">
              <a class="left-side-link">
                <i class="fas fa-comment-alt"></i>
              </a>
            </li>
            <li class="left-side-list">
              <a class="left-side-link">
                <i class="fas fa-user-plus"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </main>
  </body>
</html>
