<html>
  <head>
    <title>sign in</title>
      <style>
        input { display: block; }
        ul { list-style: none; }
      </style>
  </head>
  <body>
    <h2>signin</h2>
    <form action="/user/signin" method="post" enctype="multipart/form-data">
      <input name="email" type="text" class="textarea" placeholder="email">
      <input name="password" type="password" class="textarea" placeholder="password">
      <button type="submit" value="signup">singin</button>
    </form>
  </body>
</html>
