<html>
  <head>
    <title>sign up</title>
  </head>
  <body>
    <h2>signup</h2>
    <form action="/user/signup" method="post" enctype="multipart/form-data">
      <input name="name" type="text" class="textarea" placeholder="name">
      <input name="email" type="text" class="textarea" placeholder="email">
      <input name="password" type="password" class="textarea" placeholder="password">
      <input name="confirm_password" type="password" class="textarea" placeholder="confirm_password">
      <button type="submit" value="signup">singup</button>
    </form>
  </body>
</html>
