<html>
  <head>
    <title>user</title>
    <link rel="stylesheet" href="../assets/user.css">
    <link rel="stylesheet" href="../assets/normalize.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  <body>
    <main>
      <div class="left-side-content clearfix">
        <nav class="left-side-bar">
          <ul class="left-side-lists">
            <li class="left-side-list">
              <a class="left-side-link" href="/users">
                <i class="fas fa-user"></i>
              </a>
            </li>
            <li class="left-side-list">
              <a class="left-side-link">
                <i class="fas fa-comment-alt"></i>
              </a>
            </li>
            <li class="left-side-list">
              <a class="left-side-link">
                <i class="fas fa-user-plus"></i>
              </a>
            </li>
          </ul>
        </nav>
        <div class="left-side-edit">
          <a href="/users/edit">
            <i class="fas fa-cog"></i>
          </a>
        </div>
        <div class="left-side-user-edit">
          <a href="/{{.Current_user.ID}}/edit">
            <i class="fas fa-user-edit"></i>
          </a>
        </div>
      </div>
      <div class="head-bar"></div>
      <div class="left-users-content clearfix">
        <nav class="left-users-bar">
          <form>
            <input type="text" name="name" placeholder="名前で検索" class="user-search-box">
          </form>
          <ul class="left-users-lists">
            <li class="left-users-category">
              <p class="left-users-category-bar">プロフィール</p>
            </li>
            <li class="left-users-list">
              <a class="left-users-link" href="/chatroom">
                <p class="left-users-name">username</p>
              </a>
            </li>
            <li class="left-users-category">
              <p class="left-users-category-bar">グループ()</p>
            </li>
            {{ range .Group }}
            <li class="left-users-list">
              <a class="left-users-link" href="/chatroom/{{.ID}}">
                <p class="left-users-name">{{ .Name }}</p>
              </a>
            </li>
            {{ end }}
            <li class="left-users-category">
              <p class="left-users-category-bar">友達()</p>
            </li>
            <li class="left-users-list">
              <a class="left-users-link" href="/chatroom/:id">
                <p class="left-users-name">friend</p>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </main>
  </body>
</html>
